@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
  font-family: 'Chakra Petch';
  text-shadow: 10px 5px 5px #422457;
  background-image: linear-gradient(#745788, #245655);
}

td {
  background-color: #a478c2;
  padding: 10px;
  font-weight: bold;
text-shadow: none;
box-shadow:10px 5px 5px #422457;
}

#title {
  opacity: 1;
  font-size: 25px;
  margin: 10px;
}

#main {
  display: flex;
  flex-direction: column;
  border-style: solid;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  text-align: center;
  font-family: 'Lato';

}

#myCanvas {
  border-style: solid;
  background-color: black;
}

#content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#loginmessagediv {
  color: #ae00ff;
  font-size: 20px;
  margin-top: 20px;
}

#logindiv {
  display: flex;
  flex-direction: column;
  width: 203px;
  background-color: #745788;
  padding: 25px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

input {
  margin: 8px;
  font-size: 18px;
  background-color: #333;
  color: white;
  padding: 6px;
}

button {
  border-style: none;
  padding: 8px;
  width: 275px;
  font-size: 22px;
  color: white;
  background-color: #5f4173;
  border-radius: 10px;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Chakra Petch';
  box-shadow: 10px 5px 5px #422457;
}

button:hover {
  border-style: none;
  padding: 8px;
  width: 275px;
  font-size: 22px;
  color: white;
  background-color: #e8d058;
  border-radius: 10px;
  transition: 0.2s;

}

#joy1Div {
  width: 100px;
  height: 100px;
  margin: 20px;
  position: absolute;
  bottom: 0px;
  right: 0px;

}


@media only screen and (orientation:portrait) and (max-width: 500px) {

  #title {
    opacity: 0;
    font-size: 0;
    margin: 0px;

  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

  }

  #screen {
    transform: rotate(90deg);

  }


  #content {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;


  }

  #joy1Div {
    width: 100px;
    height: 100px;
    margin: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;

  }


}