@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
  font-family:'Chakra Petch' ;
  text-shadow: 10px 5px 5px #422457;
  background-image:linear-gradient(#745788,#245655) ;
  background-attachment: fixed;
}

td {
  background-color: #a478c2;
  padding: 10px;
  font-weight: bold;
text-shadow: none;
box-shadow:10px 5px 5px #422457;
}


#title{
  opacity: 1;
  font-size: 25px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
}

#content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
}

.cards {
  flex: 1;
  height: 50px;
  
}


#characterbar, characterbar2 {
  display: flex;
  width: 80%;
  height: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right:15px;
  color: black;
  justify-content: center;
  text-shadow: none;
  
}

#myCanvas{
  border-style: solid;
  background-color: black;
  margin: 10px;
}

#content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginmessagediv {
  color: #ae00ff;
  font-size: 20px;
  margin-top: 20px;
}

#logindiv {
  display: flex;
  flex-direction: column;
  width: 203px;
  background-color: #745788;
  padding: 25px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

input {
  margin: 8px;
  font-size: 18px;
  background-color: #333;
  color: white;
  padding: 6px;
}

button {
  border-style: none;
  padding: 8px;
  width: 240px;
  font-size: 22px;
  color: white;
  background-color: #5f4173;
  border-radius: 10px;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Chakra Petch';
box-shadow:10px 5px 5px #422457 ;
}

button:hover {
  border-style: none;
  padding: 8px;
  width: 245px;
  font-size: 22px;
  color: white;
  background-color: #e8d058;
  border-radius: 10px;
  transition: 0.2s;
}

#joy1Div {
  opacity: 0;
  width:100px;
  height: 100px;
  margin:20px;
  position: absolute;
  left:0;
  right:0;
}

#character {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#head img,
#body img,
#legs img {
  width: 30%;
  height: auto;
}

#arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

#arrows > div {
  width: 10%;
  height: auto;
  background-color: gray;
  opacity: 0.5;
}

#arrows > div:hover {
  cursor: pointer;
  opacity: 1;
}

.cards {
  align-items: center;
  display: flex;
}

#character1 {
  background-color:#5f4173; ;
}

@media (max-width: 900px) {

  #characterbar{
      flex-direction: column;
  }
  #characterbar2{
      flex-direction: column;
  }
}

@media only screen and (orientation:portrait) and (max-width: 500px){

  html, body {
  min-height: 100%;
  width: 100%;
  }
  
  #main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

#title{
  opacity: 0;
  font-size: 0px;
  margin: 0px;
}
  
  #screen {
    transform: rotate(90deg); 
    display: flex;
     justify-content: center;
  align-items: center;
  }
  
  #content {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  #joy1Div {
  opacity: 1;
  width:100px;
  height: 100px;
  margin:20px;
  position: absolute;
  left:0;
  right:0;
    bottom: 0;
}
   
} 

